body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-family: 'Muli', sans-serif;
}

header {
    margin-top: 50px;
}

.boxes {
    border: 2px solid red;
    margin: 0;
}

#box1 {
    width: 50%;
    height: 100px;
    text-align: center;
    line-height: 100px;
}

#box2 {
    position: relative;
    width: 50%;
    height: 100px;
}

#box2 span {
    position: absolute;
    bottom: 0px;
}

#box3 {
}

.a-block {
    display: block;
}